@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap");

* {
  margin: 0px;
  /* font-family: "Inter", sans-serif; */
  font-family: "Merriweather", serif;
}

/* header styles start */

header {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Banner\ Image.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  margin: 50px 140px 120px;
  height: 600px;
  align-items: center;
  background-position: center;
}
.banner {
  padding-top: 180px;
}
.subtitle {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin: 0px auto;
}

.title {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
  max-width: 630px;
  margin: 16px auto 180px auto;
}

/* main section styles start */

main {
  background: #fff;
}

main section {
  margin-bottom: 120px;
}

.offer-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}

.offer-subtitle {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin: 48px 0 16px 0;
}

.offer-category {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.offer-pic {
  max-width: 800px;
  height: 500px;
  flex-shrink: 0;
  margin: 48px auto 0 auto;
  display: block;
}

.welcome {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../resources/Vectorrr.png");
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  margin: 0px 140px;
  max-height: 600px;
  border-radius: 16px;
}

.welcome-container {
  display: flex;
  gap: 40px;
}
.welcome-title {
  padding: 126px 0px 24px 126px;
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  max-width: 650px;
}

.welcome-detail {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 0 0 48px 126px;
  max-width: 710px;
}

.welcome-link {
  padding: 0 0 140px 160px;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.welcome-image {
  padding: 70px 100px 0px 0px;
}

/* place section style start */

.place {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin: 120px 140px 120px 140px;
  border: 0;
  border-radius: 8px;
}

.place-container {
  padding: 100px 0 100px 0;
}
.place-detail {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px; /* 175% */
  text-transform: capitalize;
  margin: 0 0 48px 0;
}

.place-info {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.place-btn {
  display: block;
  margin: auto;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #f00;
  border: 0;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

/* ===============================Bonus Task Divs============================================ */

/* portfolio section starts */

.portfolio {
  margin: auto 140px;
}

.portfolio-subtitle {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.portfolio-title {
  margin: 16px 0 22px 0;
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.portfolio-description {
  max-width: 900px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.portfolio-pics {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.portfolio-image-container {
  display: flex;
  gap: 24px;
}

.portfolio-img {
  width: 424px;
  height: 450px;
  border-radius: 16px;
}

/* newsletter section styles start  */

.newsletter {
  margin: 120px 140px;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  border: 0;
}

.newsletter-container {
  padding: 120px 140px;
  display: block;
  text-align: center;
}

.newsletter-icon {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
}

.newsletter-title {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding-top: 40px;
}

.newsletter-description {
  max-width: 900px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
  padding: 22px 0 48px 0;
}

#newsletter-form {
  border-radius: 50px;
  background: #fff;
  max-width: 700px;
  max-height: 72px;
  margin: auto;
  border: 0;
}
#newsletter-email {
  margin-right: 0px;
  width: 400px;
  height: 72px;
  border: 0;
  border-radius: 50px 0 0 50px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;

  margin-left: 30px;
}

.newsletter-email::placeholder {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.3);
}

#newsletter-btn {
  margin-left: 0px;
  border: 0;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  width: 200px;
  height: 72px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
